 body{
   margin: 0px;
   padding: 0px;
   background-color: #f7f5dd;
  }

.nav ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.nav{
  background-color: #e7305b;
  position: fixed;  
  top: 0;  
  width: 100%;  


}

.nav a{
  padding: 15px 20px;
  text-decoration: none;
  color: #ffffff;
  display: block;
  float: left;
}

.nav a:hover{
  background-color: #e2979c;
 }

a{
  color: black;
}
 

.center{
  display: flex;
  justify-content: center;

 }

 h1{
  margin-top: 70px;

 }

.main{
  margin: 10px;
  margin-bottom: 200px;
}

.main ul {
  list-style: none; 
}

.main ul li::before {
  content: "\2022";
  color: #6d6875;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e2979c;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: column;

}
.footer a{
  color: white;
}